{% extends 'main.html' %}


{% load static %}


{% block content %}

        <!-- Main Content Start -->
        <section class="main-content gallery-section">
            <!-- Start Hero Section -->
            <div class="other-hero hero z-index-2">
                <div class="container">
                    <div class="row justify-content-center main-heading  space-top-xl-4">
                        <div class=" text-center">
                            <h1 class="sub-head">Overview Of Tourism</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Overview Of Tourism</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Hero Section -->
            <div class="container space-y">
                <div class="row">
                    <div class="col-12 features-content">
                        <fieldset>
                            <legend>Features</legend>

                            <ol class="mb-5">
                                <li>
                                    Registration and licensing of hotels, restaurants, travel agencies and tourist guides
                                </li>
                                <li>
                                    Classification of hotels
                                </li>
                                <li>
                                    Fixation of fair rates for hotels and restaurants
                                </li>
                                <li>
                                    Approval of service charges for travel agencies
                                </li>
                                <li>
                                    Regulate standard of services provided at hotels and restaurants, in accordance with relevant laws
                                </li>
                                <li>
                                    Check and ensure the function of Travel agencies in accordance with relevant laws
                                </li>
                                <li>
                                    Co-ordination with Hotels and Restaurants Advisory Committee and Travel Agencies Regulatory Committee for effective implementation of Hotels and Restaurants Act, Travel Agencies Act & Tourist Guides Act.
                                </li>
                                <li>
                                    Annual Renewal of Licenses of Hotels, Restaurants, travels Agencies & Tourist Guide.
                                </li>
                                <li>
                                    Perform judicial functions under Travel Agencies Act and Hotels and Restaurants Act.
                                </li>
                                <li>
                                    Tourist / customers complaints resolution
                                </li>
                            </ol>
                        </fieldset>
                    </div>
                </div>
            </div>
        </section>
        <!-- Main Content End -->

        

    <script src="assets/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/script/script.js"></script>

    {% endblock content %}