
{% extends 'main.html' %}


{% load static %}


{% block content %}


        <!-- Main Content Start -->
        <section class="main-content gallery-section">
            <!-- Start Hero Section -->
            <div class="other-hero hero z-index-2">
                <div class="container">
                    <div class="row justify-content-center main-heading  space-top-xl-4">
                        <div class=" text-center">
                            <h1 class="sub-head">Overview Of Tourism</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Overview Of Tourism</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Hero Section -->
            <div class="container space-y">
                <div class="row">
                    <div class="col-12 overview-content">
                        <fieldset>
                            <legend>Overview</legend>
                            <p>
                                <p class="mb-5">
                                    The Department of Tourist Services (DTS) is regulator for tourist services related to Balochistan Province . Its main function is to regulate the Hotel and Travel Trades which includes Hotels, Restaurants, Travel Agents, Tour Operators and Tourist Guides.
                                    <br> The Department is implementing the following three Acts and the Rules framed thereunder:
                                </p>
                                <ol class="mb-5">
                                    <li>The Pakistan Hotels & Restaurants Act, 1976 and Rules, 1977</li>
                                    <li>Travel Agencies Act, 1976 & Rules 1977</li>
                                    <li>Tourist Guides Act, 1976 and Rules, 1996</li>
                                </ol>
                                <p class="mb-5">
                                    It registers and grant licenses to hotels, restaurants, travel agencies and tourist guides through these acts.
                                </p>

                                <h6 class="mb-2">
                                    Vision:
                                </h6>

                                <p class="mb-5">
                                    A valued and trusted lead regulator in hospitality and travel trade.
                                </p>

                                <h6 class="mb-2">
                                    Mission:
                                </h6>
                                <p class="mb-5">
                                    To develop and promote a conducive regulatory environment in travel and hospitality sector
                                </p>

                                <h6 class="mb-2">

                                    Objective:
                                </h6>

                                <p class="mb-5">

                                    To make Balochistan a model hospitality
                                </p>
                            </p>
                        </fieldset>
                    </div>
                </div>
            </div>
        </section>
        <!-- Main Content End -->

      


    <script src="assets/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/script/script.js"></script>
    
    
    
{% endblock content %}