{% extends 'main.html' %}

{% load static %}

{% block content %}


   <!-- Main Content Start -->
   <section class="main-content contactUs-section">
    <!-- Start Hero Section -->
    <div class="other-hero hero z-index-2">
        <div class="container">
            <div class="row justify-content-center main-heading  space-top-xl-4">
                <div class=" text-center">
                    <h1 class="sub-head">Contact Us</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- End Hero Section -->
    <div class="container space-y">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6 text-md-start text-center text-nowrap">
                <h4 class="border-bottom border-3 border-info pb-4">Top Story</h4>
            </div>
            <div class="col-12 table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="bg-info text-white">
                        <tr>
                            <th>Name Of Officer</th>
                            <th>Designation</th>
                            <th>Office No.</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>M.Imran Ali</td>
                            <td>Admin & Accounts</td>
                            <td>051-9203772 </td>
                            <td>d.controller@dts.gov.pk</td>
                        </tr>
                        <tr>
                            <td>M.Imran Ali</td>
                            <td>Admin & Accounts</td>
                            <td>051-9203772 </td>
                            <td>d.controller@dts.gov.pk</td>
                        </tr>
                        <tr>
                            <td>M.Imran Ali</td>
                            <td>Admin & Accounts</td>
                            <td>051-9203772 </td>
                            <td>d.controller@dts.gov.pk</td>
                        </tr>
                        <tr>
                            <td>M.Imran Ali</td>
                            <td>Admin & Accounts</td>
                            <td>051-9203772 </td>
                            <td>d.controller@dts.gov.pk</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-2 col-md-4 col-sm-6 text-md-start text-center text-nowrap">
                <h4 class="border-bottom border-3 border-info pb-4">Need Any Help? <b>Contact Us</b> </h4>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6 col-md-8 col-12">
                <form action="">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-12 my-3">
                                <label for="" class="form-label"> Enter Name</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-12 my-3">
                                <label for="" class="form-label"> Enter Email</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-12 my-3">
                                <label for="" class="form-label"> Enter Subject</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-12 my-3">
                                <label for="" class="form-label"> Enter Subject</label>
                                <textarea name="" id="" cols="30" rows="8" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-6 pt-5 pb-5">
                <div id="map-container-google" class="z-depth-1-half map-container h-100 w-100">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2770.209674141393!2d66.99299731440739!3d30.20368861798864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb25e51ec26c2d399!2zMzDCsDEyJzEzLjMiTiA2NsKwNTknNDIuNyJF!5e1!3m2!1sen!2s!4v1647866926168!5m2!1sen!2s"
                        width="100%" height="100vh" style="border:0; width: 100%; height:100%; border-radius: 10px;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Content End -->


{% endblock content %}