{% extends 'main.html' %}

{% load static %}


{% block content %}


        <!-- Main Content Start -->
        <section class="main-content gallery-section" > 
            <!-- Start Hero Section -->
            <div class="other-hero hero z-index-2" style="background-image: url(https://www.youlinmagazine.com/articles/2048.jpg);">
                <div class="container">
                    <div class="row justify-content-center main-heading  space-top-xl-4">
                        <div class=" text-center">
                            <h1 class="sub-head">Gallery</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Hero Section -->
            <div class="container gallery-container">
                <div class="row">
                    <h4 class="col ">Khuzdar Tour</h4>
                </div>
                <div class="tz-gallery">

                    <div class="row">

                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="https://4.bp.blogspot.com/-BB6TqTJK9K0/W4exeD98omI/AAAAAAAAAiQ/4VfqLaCe0gQhKdxJ2cKXiW-SAaIVU0TSQCLcBGAs/s1600/34392945413_302063bc54_b.jpg">
                                <img src="https://4.bp.blogspot.com/-BB6TqTJK9K0/W4exeD98omI/AAAAAAAAAiQ/4VfqLaCe0gQhKdxJ2cKXiW-SAaIVU0TSQCLcBGAs/s1600/34392945413_302063bc54_b.jpg" style="height: 240px;">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="https://i.pinimg.com/originals/61/8c/7a/618c7a2afc2438e559bb8572d96df0bc.jpg">
                                <img src="https://i.pinimg.com/originals/61/8c/7a/618c7a2afc2438e559bb8572d96df0bc.jpg" style="height: 240px;">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="https://pbs.twimg.com/media/El8unK_WoAA4Ra3.jpg">
                                <img src="https://pbs.twimg.com/media/El8unK_WoAA4Ra3.jpg" style="height: 240px;">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="https://pbs.twimg.com/media/EmejqPrWEAE7n3w.jpg">
                                <img src="https://pbs.twimg.com/media/EmejqPrWEAE7n3w.jpg" style="height: 240px;">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Moola_Chotuk%2C_Khuzdar%2C_Balochistan.jpg/1200px-Moola_Chotuk%2C_Khuzdar%2C_Balochistan.jpg">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Moola_Chotuk%2C_Khuzdar%2C_Balochistan.jpg/1200px-Moola_Chotuk%2C_Khuzdar%2C_Balochistan.jpg" style="height: 240px;">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="https://pbs.twimg.com/media/DerQN_KWAAARogY.jpg">
                                <img src="https://pbs.twimg.com/media/DerQN_KWAAARogY.jpg" style="height: 240px;">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="https://www.youlinmagazine.com/articles/2048-1.jpg">
                                <img src="https://www.youlinmagazine.com/articles/2048-1.jpg" style="height: 240px;">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="https://i.ytimg.com/vi/8ACK9pkZyLQ/maxresdefault.jpg">
                                <img src="https://i.ytimg.com/vi/8ACK9pkZyLQ/maxresdefault.jpg" style="height: 240px;">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="https://www.youlinmagazine.com/articles/2048.jpg">
                                <img src="https://www.youlinmagazine.com/articles/2048.jpg" style="height: 240px;">
                            </a>
                        </div>
                      

                    </div>

                </div>

            </div>
        </section>
        <!-- Main Content End -->



        <!-- Main Wrapper End -->
    </div>



{% endblock content%}





    