{% extends 'main.html' %}

{% load static %}

{% block content %}


    <!-- Main Content Start -->
    <section class="main-content gallery-section" > 
        <!-- Start Hero Section -->
        <div class="other-hero hero z-index-2" style="background-image: url(static/images/P1.jpg);">
            <div class="container">
                <div class="row justify-content-center main-heading  space-top-xl-4">
                    <div class=" text-center">
                        <h1 class="sub-head">Gallery</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Hero Section -->
        <div class="container gallery-container">
            <div class="row">
                <h4 class="col ">Ziarat Tour</h4>
            </div>
            <div class="tz-gallery">

                <div class="row">

                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="{% static 'images/ziarat/z1.jpg' %}">
                            <img src="{% static 'images/ziarat/z1.jpg' %}" style="height: 240px;">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="{% static 'images/ziarat/z2.jpg' %}">
                            <img src="{% static 'images/ziarat/z2.jpg' %}" style="height: 240px;">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="{% static 'images/ziarat/z3.jpg' %}">
                            <img src="{% static 'images/ziarat/z3.jpg' %}" style="height: 240px;">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="{% static 'images/ziarat/z4.jpg' %}">
                            <img src="{% static 'images/ziarat/z4.jpg' %}" style="height: 240px;">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="{% static 'images/ziarat/z5.jpg' %}">
                            <img src="{% static 'images/ziarat/z5.jpg' %}" style="height: 240px;">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="{% static 'images/ziarat/z6.jpg' %}">
                            <img src="{% static 'images/ziarat/z6.jpg' %}" style="height: 240px;">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="{% static 'images/ziarat/z7.jpg' %}">
                            <img src="{% static 'images/ziarat/z7.jpg' %}" style="height: 240px;">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="{% static 'images/ziarat/z8.jpg' %}">
                            <img src="{% static 'images/ziarat/z8.jpg' %}" style="height: 240px;">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="{% static 'images/ziarat/z9.jpg' %}">
                            <img src="{% static 'images/ziarat/z9.jpg' %}" style="height: 240px;">
                        </a>
                    </div>
                  

                </div>

            </div>

        </div>
    </section>
    <!-- Main Content End -->



        <!-- Main Wrapper End -->
    </div>



{% endblock content%}





    