{% extends 'main.html' %}


{% load static %}


{% block content %}

<!-- Hero Slider Start -->
<section>
    <div class="hero-slider" data-carousel>
        <div class="carousel-cell" style="position: relative; background-image:url('static/images/P4.jpg');">
            <div class="overlay"></div>
            <div class="inner">
                <h3 class="subtitle">GAWADAR</h3>
                <!-- <a href="https://flickity.metafizzy.co/" target="_blank" class="btn">Tell me more</a> -->
            </div>
        </div>
        <div class="carousel-cell" style="position: relative; background-image:url('static/images/P6.jpg');">
            <div class="overlay"></div>
            <div class="inner">
                <h3 class="subtitle">ZIARAT</h3>
                <!-- <a href="https://flickity.metafizzy.co/" target="_blank" class="btn">Tell me more</a> -->
            </div>
        </div>
        <div class="carousel-cell" style="position: relative; background-image:url('static/images/P7.jpg');">
            <div class="overlay"></div>
            <div class="inner">
                <h3 class="subtitle">PRINCESS OF HOPE</h3>
                <!-- <a href="https://flickity.metafizzy.co/" target="_blank" class="btn">Tell me more</a> -->
            </div>
        </div>
        <div class="carousel-cell" style="position: relative; background-image:url('static/images/P1.jpg');">
            <div class="overlay"></div>
            <div class="inner">
                <h3 class="subtitle">GAWADAR DESERT</h3>
                <!-- <a href="https://flickity.metafizzy.co/" target="_blank" class="btn">Tell me more</a> -->
            </div>
        </div>
        <div class="carousel-cell" style="position: relative; background-image:url('static/images/P5.jpg');">
            <div class="overlay"></div>
            <div class="inner">
                <h3 class="subtitle">PIR GHAIB</h3>
                <!-- <a href="https://flickity.metafizzy.co/" target="_blank" class="btn">Tell me more</a> -->
            </div>
        </div>
    </div>
</section>
<!-- Hero Slider End -->

<!-- news slider start -->
<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="acme-news-ticker">
                    <div class="acme-news-ticker-label">Latest News</div>

                    <div class="acme-news-ticker-box">
                        <ul class="news-ticker">
                            <li>
                                <a href="#"> <b>ALERT !</b> </a>
                            </li>

                        </ul>

                    </div>
                    <div class="acme-news-ticker-controls acme-news-ticker-marquee-controls">
                        <span class="acme-news-ticker-arrow acme-news-ticker-prev"></span>
                        <span class="acme-news-ticker-pause"></span>
                        <span class="acme-news-ticker-arrow acme-news-ticker-next"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- news slider end -->

<!-- Services section Start -->

<section class="services padding-y">
    <div class="service-cards">
        <div class="container">
            <div class="row pb-5">
                <div class="col-12 text-center">
                    <h2 class="section-title">
                        Our Services
                    </h2>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="card w-100 d-flex justify-content-center align-items-center">
                        <div class="card-img d-flex justify-content-center align-items-center">
                            <img src="{% static 'images/service 1.png' %}" class="card-img-top" alt="">
                        </div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h5 class="card-title text-nowrap mt-5">Lagislation</h5>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="card w-100 d-flex justify-content-center align-items-center">
                        <div class="card-img d-flex justify-content-center align-items-center">
                            <img src="{% static 'images/service 2.png' %}" class="card-img-top" alt="">
                        </div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h5 class="card-title text-nowrap mt-5">Licensing</h5>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="card w-100 d-flex justify-content-center align-items-center">
                        <div class="card-img d-flex justify-content-center align-items-center">
                            <img src="{% static 'images/service 3.png' %}" class="card-img-top" alt="">
                        </div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h5 class="card-title text-nowrap mt-5">Grading</h5>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="card w-100 d-flex justify-content-center align-items-center">
                        <div class="card-img d-flex justify-content-center align-items-center">
                            <img src="{% static 'images/service 4.png' %}" class="card-img-top" alt="">
                        </div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h5 class="card-title text-nowrap mt-5">Service Provider</h5>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="card w-100 d-flex justify-content-center align-items-center">
                        <div class="card-img d-flex justify-content-center align-items-center">
                            <img src="{% static 'images/service 5.png' %}" class="card-img-top" alt="">
                        </div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h5 class="card-title text-nowrap mt-5">Fees</h5>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="card w-100 d-flex justify-content-center align-items-center">
                        <div class="card-img d-flex justify-content-center align-items-center">
                            <img src="{% static 'images/service 6.png' %}" class="card-img-top" alt="">
                        </div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h5 class="card-title text-nowrap mt-5">Downloads</h5>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Services Section End -->

<!-- Team section Start -->

<section class="team space-y">
    <div class="team-cards">
        <div class="container">
            <div class="row pb-5">
                <div class="col-12 text-center">
                    <h2 class="section-title">
                        Our Team
                    </h2>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card team-card w-100 d-flex justify-content-center align-items-center">
                        <div class="team-card-img d-flex justify-content-center align-items-center">
                            <img src="{% static 'images/cm-circle.png' %}" class="card-img-top" alt="">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title text-nowrap mt-5">Mr.Abdul Quddus Bizenjo</h4>
                            <h6 class="designation mt-2 mb-5">CHEIF MINISTRER BALOCHISTAN</h6>
                            <a href="#" class="read-more">Read More</a>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card team-card w-100 d-flex justify-content-center align-items-center">
                        <div class="team-card-img d-flex justify-content-center align-items-center">
                            <img src="{% static 'images/chief-secratery.png' %}" class="card-img-top" alt="">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title text-nowrap mt-5">Mathar Niaz Rana</h4>
                            <h6 class="designation mt-2 mb-5">Chief Secretary</h6>
                            <a href="#" class="read-more">Read More</a>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card team-card w-100 d-flex justify-content-center align-items-center">
                        <div class="team-card-img d-flex justify-content-center align-items-center">
                            <img src="{% static 'images/chief-secratery.png' %}" class="card-img-top" alt="">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title text-nowrap mt-5">Secertary</h4>
                            <h6 class="designation mt-2 mb-5">Tourism</h6>
                            <a href="#" class="read-more">Read More</a>
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<!-- Team Section End -->


<!-- News section Start -->

<section class="news space-y">
    <div class="news-cards">
        <div class="container">
            <div class="row pb-5">
                <div class="col-12 text-center">
                    <h2 class="section-title">
                        Social News
                    </h2>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="row pb-4">
                        <div class="col-4 text-nowrap">
                            <h4 class="border-bottom border-3 border-info pb-4">Top Story</h4>
                        </div>
                    </div>
                    <div class="card shadow w-100 d-flex justify-content-center align-items-center">
                        <div class="news-card-img d-flex justify-content-center align-items-center">
                            <img src="{% static 'images/top-stroy.png' %}" class="card-img-top" alt="">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Federal Minister for Inter Provincial Coordination Dr. Fehmida Mirza
                                was Chief Guest at the Conference</h4>
                            <p class="card-text">On Elevating Pakistan Tourism organized by Pakistan Tourism Dialogue at
                                Hotel Marriot Islamabad on 19th March 2019...</p>
                            <a href="#" class="read-more">Read More</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6-col-12">
                    <div class="row pb-4">
                        <div class="col-4 text-nowrap">
                            <h4 class="border-bottom border-3 border-info pb-4"> Latest News</h4>
                        </div>
                    </div>
                    <div class="card shadow p-2 latestNews-cards">
                        <div class="row">
                            <div class="row news-item">
                                <div class="col-md-4">
                                    <div class="latest-news-img">
                                        <img src="{% static 'images/new-img.png' %}" class="img-fluid rounded-start"
                                            alt="News Image">
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="card-body news-body p-0">
                                        <p class="card-text news-text">Lorem ipsum, dolor sit amet consectetur
                                            adipisicing elit. Consequuntur, fugit. </p>
                                        <a href="#">
                                            <span class="news-date"><img src="{% static 'images/calendar-icon.png' %}"
                                                    width="18px" alt=""> &nbsp;&nbsp; November 23, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-item mt-4">
                                <div class="col-md-4">
                                    <div class="latest-news-img">
                                        <img src="{% static 'images/new-img.png' %}" class="img-fluid rounded-start"
                                            alt="News Image">
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="card-body news-body p-0">
                                        <p class="card-text news-text">Lorem ipsum, dolor sit amet consectetur
                                            adipisicing elit. Consequuntur, fugit. </p>
                                        <a href="#">
                                            <span class="news-date"><img src="{% static 'images/calendar-icon.png' %}"
                                                    width="18px" alt=""> &nbsp;&nbsp; November 23, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-item mt-4">
                                <div class="col-md-4">
                                    <div class="latest-news-img">
                                        <img src="{% static 'images/new-img.png' %}" class="img-fluid rounded-start"
                                            alt="News Image">
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="card-body news-body p-0">
                                        <p class="card-text news-text">Lorem ipsum, dolor sit amet consectetur
                                            adipisicing elit. Consequuntur, fugit. </p>
                                        <a href="#">
                                            <span class="news-date"><img src="{% static 'images/calendar-icon.png' %}"
                                                    width="18px" alt=""> &nbsp;&nbsp; November 23, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-item mt-4">
                                <div class="col-md-4">
                                    <div class="latest-news-img">
                                        <img src="{% static 'images/new-img.png' %}" class="img-fluid rounded-start"
                                            alt="News Image">
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="card-body news-body p-0">
                                        <p class="card-text news-text">Lorem ipsum, dolor sit amet consectetur
                                            adipisicing elit. Consequuntur, fugit. </p>
                                        <a href="#">
                                            <span class="news-date"><img src="{% static 'images/calendar-icon.png' %}"
                                                    width="18px" alt=""> &nbsp;&nbsp; November 23, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-item mt-4">
                                <div class="col-md-4">
                                    <div class="latest-news-img">
                                        <img src="{% static 'images/new-img.png' %}" class="img-fluid rounded-start"
                                            alt="News Image">
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="card-body news-body p-0">
                                        <p class="card-text news-text">Lorem ipsum, dolor sit amet consectetur
                                            adipisicing elit. Consequuntur, fugit. </p>
                                        <a href="#">
                                            <span class="news-date"><img src="{% static 'images/calendar-icon.png' %}"
                                                    width="18px" alt=""> &nbsp;&nbsp; November 23, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-item mt-4">
                                <div class="col-md-4">
                                    <div class="latest-news-img">
                                        <img src="{% static 'images/new-img.png' %}" class="img-fluid rounded-start"
                                            alt="News Image">
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="card-body news-body p-0">
                                        <p class="card-text news-text">Lorem ipsum, dolor sit amet consectetur
                                            adipisicing elit. Consequuntur, fugit. </p>
                                        <a href="#">
                                            <span class="news-date"><img src="{% static 'images/calendar-icon.png' %}"
                                                    width="18px" alt=""> &nbsp;&nbsp; November 23, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-item mt-4">
                                <div class="col-md-4">
                                    <div class="latest-news-img">
                                        <img src="{% static 'images/new-img.png' %}" class="img-fluid rounded-start"
                                            alt="News Image">
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="card-body news-body p-0">
                                        <p class="card-text news-text">Lorem ipsum, dolor sit amet consectetur
                                            adipisicing elit. Consequuntur, fugit. </p>
                                        <a href="#">
                                            <span class="news-date"><img src="{% static 'images/calendar-icon.png' %}"
                                                    width="18px" alt=""> &nbsp;&nbsp; November 23, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-item mt-4">
                                <div class="col-md-4">
                                    <div class="latest-news-img">
                                        <img src="{% static 'images/new-img.png' %}" class="img-fluid rounded-start"
                                            alt="News Image">
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="card-body news-body p-0">
                                        <p class="card-text news-text">Lorem ipsum, dolor sit amet consectetur
                                            adipisicing elit. Consequuntur, fugit. </p>
                                        <a href="#">
                                            <span class="news-date"><img src="{% static 'images/calendar-icon.png' %}"
                                                    width="18px" alt=""> &nbsp;&nbsp; November 23, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-item mt-4">
                                <div class="col-md-4">
                                    <div class="latest-news-img">
                                        <img src="{% static 'images/new-img.png' %}" class="img-fluid rounded-start"
                                            alt="News Image">
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="card-body news-body p-0">
                                        <p class="card-text news-text">Lorem ipsum, dolor sit amet consectetur
                                            adipisicing elit. Consequuntur, fugit. </p>
                                        <a href="#">
                                            <span class="news-date"><img src="{% static 'images/calendar-icon.png' %}"
                                                    width="18px" alt=""> &nbsp;&nbsp; November 23, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6-col-12">
                    <div class="row pb-4">
                        <div class="col-4 text-nowrap">
                            <h4 class="border-bottom border-3 border-info pb-4"> Latest News</h4>
                        </div>
                    </div>
                    <div class="card shadow p-2 latestNews-cards">
                        <div class="row">
                            <div class="row news-item">
                                <div class="col-md-4">
                                    <div class="latest-news-img">
                                        <img src="{% static 'images/new-img.png' %}" class="img-fluid rounded-start"
                                            alt="News Image">
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="card-body news-body p-0">
                                        <p class="card-text news-text">Lorem ipsum, dolor sit amet consectetur
                                            adipisicing elit. Consequuntur, fugit. </p>
                                        <a href="#">
                                            <span class="news-date"><img src="{% static 'images/calendar-icon.png' %}"
                                                    width="18px" alt=""> &nbsp;&nbsp; November 23, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-item mt-4">
                                <div class="col-md-4">
                                    <div class="latest-news-img">
                                        <img src="{% static 'images/new-img.png' %}" class="img-fluid rounded-start"
                                            alt="News Image">
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="card-body news-body p-0">
                                        <p class="card-text news-text">Lorem ipsum, dolor sit amet consectetur
                                            adipisicing elit. Consequuntur, fugit. </p>
                                        <a href="#">
                                            <span class="news-date"><img src="{% static 'images/calendar-icon.png' %}"
                                                    width="18px" alt=""> &nbsp;&nbsp; November 23, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-item mt-4">
                                <div class="col-md-4">
                                    <div class="latest-news-img">
                                        <img src="{% static 'images/new-img.png' %}" class="img-fluid rounded-start"
                                            alt="News Image">
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="card-body news-body p-0">
                                        <p class="card-text news-text">Lorem ipsum, dolor sit amet consectetur
                                            adipisicing elit. Consequuntur, fugit. </p>
                                        <a href="#">
                                            <span class="news-date"><img src="{% static 'images/calendar-icon.png' %}"
                                                    width="18px" alt=""> &nbsp;&nbsp; November 23, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-item mt-4">
                                <div class="col-md-4">
                                    <div class="latest-news-img">
                                        <img src="{% static 'images/new-img.png' %}" class="img-fluid rounded-start"
                                            alt="News Image">
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="card-body news-body p-0">
                                        <p class="card-text news-text">Lorem ipsum, dolor sit amet consectetur
                                            adipisicing elit. Consequuntur, fugit. </p>
                                        <a href="#">
                                            <span class="news-date"><img src="{% static 'images/calendar-icon.png' %}"
                                                    width="18px" alt=""> &nbsp;&nbsp; November 23, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-item mt-4">
                                <div class="col-md-4">
                                    <div class="latest-news-img">
                                        <img src="{% static 'images/new-img.png' %}" class="img-fluid rounded-start"
                                            alt="News Image">
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="card-body news-body p-0">
                                        <p class="card-text news-text">Lorem ipsum, dolor sit amet consectetur
                                            adipisicing elit. Consequuntur, fugit. </p>
                                        <a href="#">
                                            <span class="news-date"><img src="{% static 'images/calendar-icon.png' %}"
                                                    width="18px" alt=""> &nbsp;&nbsp; November 23, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-item mt-4">
                                <div class="col-md-4">
                                    <div class="latest-news-img">
                                        <img src="{% static 'images/new-img.png' %}" class="img-fluid rounded-start"
                                            alt="News Image">
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="card-body news-body p-0">
                                        <p class="card-text news-text">Lorem ipsum, dolor sit amet consectetur
                                            adipisicing elit. Consequuntur, fugit. </p>
                                        <a href="#">
                                            <span class="news-date"><img src="{% static 'images/calendar-icon.png' %}"
                                                    width="18px" alt=""> &nbsp;&nbsp; November 23, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-item mt-4">
                                <div class="col-md-4">
                                    <div class="latest-news-img">
                                        <img src="{% static 'images/new-img.png' %}" class="img-fluid rounded-start"
                                            alt="News Image">
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="card-body news-body p-0">
                                        <p class="card-text news-text">Lorem ipsum, dolor sit amet consectetur
                                            adipisicing elit. Consequuntur, fugit. </p>
                                        <a href="#">
                                            <span class="news-date"><img src="{% static 'images/calendar-icon.png' %}"
                                                    width="18px" alt=""> &nbsp;&nbsp; November 23, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-item mt-4">
                                <div class="col-md-4">
                                    <div class="latest-news-img">
                                        <img src="{% static 'images/new-img.png' %}" class="img-fluid rounded-start"
                                            alt="News Image">
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="card-body news-body p-0">
                                        <p class="card-text news-text">Lorem ipsum, dolor sit amet consectetur
                                            adipisicing elit. Consequuntur, fugit. </p>
                                        <a href="#">
                                            <span class="news-date"><img src="{% static 'images/calendar-icon.png' %}"
                                                    width="18px" alt=""> &nbsp;&nbsp; November 23, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-item mt-4">
                                <div class="col-md-4">
                                    <div class="latest-news-img">
                                        <img src="{% static 'images/new-img.png' %}" class="img-fluid rounded-start"
                                            alt="News Image">
                                    </div>
                                </div>
                                <div class="col-md-8 p-0">
                                    <div class="card-body news-body p-0">
                                        <p class="card-text news-text">Lorem ipsum, dolor sit amet consectetur
                                            adipisicing elit. Consequuntur, fugit. </p>
                                        <a href="#">
                                            <span class="news-date"><img src="{% static 'images/calendar-icon.png' %}"
                                                    width="18px" alt=""> &nbsp;&nbsp; November 23, 2021 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>

<!-- News Section End -->


<!-- Updates section Start -->

<section class="updates space-y">
    <div class="news-cards">
        <div class="container">
            <!-- <div class="row pb-5">
                            <div class="col-12 text-center">
                                <h2 class="section-title">
                                    Social News
                                </h2>
                            </div>
                        </div> -->
            <div class="row pt-5 d-md-flex justify-content-center align-items-center">
                <!-- 1st card start -->
                <div class="col-md-5">
                    <div class="card border-0">
                        <h4 class="card-title update-title">
                            Establishment of PM-CJ fund for Diamer Basha and Mohmand Dam
                        </h4>
                        <p class="card-text pt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis
                            repudiandae reprehenderit, necessitatibus quidem quo itaque mollitia in nostrum velit.
                            Perferendis beatae recusandae atque eveniet quo numquam similique
                            doloribus blanditiis maiores nulla, saepe, rem omnis aperiam!</p>
                        <a href="#">Read More....</a>
                    </div>
                </div>
                <!-- 1st card start -->
                <!-- 2nd card start -->
                <div class="col-md-4">
                    <div class="card border-0">
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col p-1">
                                <a href="">
                                    <img src="{% static 'images/update-1.png' %}" class="update-img" alt="...">
                                </a>
                            </div>
                            <div class="col p-1">
                                <a href="">
                                    <img src="{% static 'images/update-2.png' %}" class="update-img" alt="...">
                                </a>
                            </div>
                            <div class="col p-1">
                                <a href="">
                                    <img src="{% static 'images/update-3.png' %}" class="update-img" alt="...">
                                </a>
                            </div>
                            <div class="col p-1">
                                <a href="">
                                    <img src="{% static 'images/update-4.png' %}" class="update-img" alt="...">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 2nd card end -->
                <!-- 3rd card start -->
                <div class="col-md-3">
                    <div class=" card border shadow d-flex justify-content-center align-items-center"
                        style="height: 100%; min-height: 378px">
                        <br>
                        <div class="container-one container p-0 ">
                            <table class="table update-table text-nowrap ">
                                <tbody>
                                    <tr>
                                        <td>Active Users </td>
                                        <td>240</td>
                                    </tr>
                                    <tr>
                                        <td>Today's Visitors</td>
                                        <td>35</td>
                                    </tr>
                                    <tr>
                                        <td>Total Visitors</td>
                                        <td>6,300</td>
                                    </tr>
                                    <tr>
                                        <td>Updated on</td>
                                        <td>23/1/21</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- 3rd card end -->
            </div>
        </div>
    </div>

</section>

<!-- upadtes Section End -->


<!-- downloads section Start -->

<section class="downloads space-y">
    <div class="news-cards">
        <div class="container">
            <div class="row pb-5">
                <div class="col-12 text-center">
                    <h2 class="section-title">
                        Downloads
                    </h2>
                </div>
            </div>
            <div class="row pt-5 d-md-flex justify-content-center align-items-center">
                <div class="col-md-6 col-12">
                    <div class="row pb-4">
                        <div class="col-4  text-nowrap">
                            <h4 class="border-bottom border-3 border-info pb-4">Application Downloads</h4>

                            <!-- <a href="#" class=" float-end btn btn-info text-white">View All</a> -->
                        </div>
                    </div>
                    <div class="card shadow  mt-4">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            Application for Registration of hotel
                            <a href="">
                                <i class="fa fa-download download-icon"></i>
                            </a>
                        </div>
                    </div>

                    <div class="card shadow  mt-4">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            Application for Registration of hotel
                            <a href="">
                                <i class="fa fa-download download-icon"></i>
                            </a>
                        </div>
                    </div>

                    <div class="card shadow  mt-4">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            Application for Registration of hotel
                            <a href="">
                                <i class="fa fa-download download-icon"></i>
                            </a>
                        </div>
                    </div>

                    <div class="card shadow  mt-4">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            Application for Registration of hotel
                            <a href="">
                                <i class="fa fa-download download-icon"></i>
                            </a>
                        </div>
                    </div>

                    <div class="card shadow  mt-4">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            Application for Registration of hotel
                            <a href="">
                                <i class="fa fa-download  download-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="row pb-4">
                        <div class="col-4 text-nowrap">
                            <h4 class="border-bottom border-3 border-info pb-4">Tenders</h4>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-12">
                    <div class="row pb-4">
                        <div class="col-4 text-nowrap">
                            <h4 class="border-bottom border-3 border-info pb-4"> Latest Jobs</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<!-- download Section End -->

<script src="{% static 'bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js' %} "></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.6.0.js " integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin=" anonymous "></script> -->
<!-- hero slider js -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

<script src="{% static 'news-ticker-controls-acme/assets/js/jquery.min.js' %} "></script>
<script src="{% static 'news-ticker-controls-acme/assets/js/acmeticker.min.js' %} "></script>
<script src="{% static 'script/script.js' %} "></script>

<!-- hero slider  -->
<script>
    var options = {
        accessibility: true,
        prevNextButtons: true,
        pageDots: false,
        setGallerySize: false,
       
        arrowShape: {
            x0: 10,
            x1: 60,
            y1: 50,
            x2: 60,
            y2: 45,
            x3: 15
        }
    };

    var carousel = document.querySelector('[data-carousel]');
    var slides = document.getElementsByClassName('carousel-cell');
    var flkty = new Flickity(carousel, options);

    flkty.on('scroll', function () {
        flkty.slides.forEach(function (slide, i) {
            var image = slides[i];
            var x = (slide.target + flkty.x) * -1 / 3;
            image.style.backgroundPosition = x + 'px';
        });
    });
</script>

<!-- news slider -->
<script>
    jQuery(document).ready(function ($) {
        $('.news-ticker').AcmeTicker({
            type: 'marquee',
            autoplay: 2000,
            direction: 'left',
            speed: 0.05,
            controls: {
                prev: $('.acme-news-ticker-prev'),
                toggle: $('.acme-news-ticker-pause'),
                next: $('.acme-news-ticker-next')
            }
        });
    })
</script>

{% endblock content %}