{% extends 'main.html' %}

{% load static %}



{% block content  %}







        <!-- Main Content Start -->
        <section class="main-content gallery-section">
            <!-- Start Hero Section -->
            <div class="other-hero hero z-index-2">
                <div class="container">
                    <div class="row justify-content-center main-heading  space-top-xl-4">
                        <div class=" text-center">
                            <h1 class="sub-head">Restaurant Registertaion</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> Restaurant Registertaion
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Hero Section -->
            <div class="container space-y">
                <!-- <div class="row row-cols-1 g-4"> -->
                <div class="row touristGuide-content">
                    
                    <form class="form" action="" method="POST" >
                        {% csrf_token %}
                        {{form}}

                    <input type="submit" name="submit">    
                        <!-- <fieldset>
                            <legend>Restaurant Registertaion</legend>
                            <div class="row">
                                <div class="col-12 my-2">
                                    <label for="" class="form-label">Name Of The Restaurant</label>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-lg-3 col-md-6 my-2">
                                    <label for="" class="form-label">Year of Establisment:</label>

                                    <input type="date" class="form-control" />
                                </div>
                                <div class="col-lg-3 col-md-6 my-2">
                                    <label for="" class="form-label">Date of Commission:</label>

                                    <input type="date" class="form-control" />
                                </div>
                                <div class="col-lg-3 col-md-6 my-2">
                                    <label for="" class="form-label">Telex Number:</label>

                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-lg-3 col-md-6 my-2">
                                    <label for="" class="form-label">Telephone Number:</label>

                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-lg-6 col-md-12 my-2">
                                    <label for="" class="form-label">Address:</label>

                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-lg-6 col-md-12 my-2">
                                    <label for="" class="form-label">Telegraphic Address:</label>

                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <h5 class="mt-4 mb-2">
                                    <u>
                                        Location
                                    </u>
                                </h5>
                                <div class="col-md-4 my-2">
                                    <label for="" class="form-label">Province:</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>PLease Select</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="col-md-4 my-2">
                                    <label for="" class="form-label">Town:</label>

                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-4 my-2">
                                    <label for="" class="form-label">Street:</label>

                                    <input type="text" class="form-control" />
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12 my-2">
                                    <label for="" class="form-label">Nature of Ownership:</label>

                                 
                                    <select class="form-select" aria-label="Default select example">
                                    <option selected>PLease Select</option>
                                    <option value="1">Proprietorship</option>
                                    <option value="2">Cooperative</option>
                                    <option value="3">Company</option>
                                    <option value="4">Firms</option>
                                    <option value="5">Limited Company</option>
                                </select>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-7">
                                    <h5 class="mt-4 mb-2 form-Subhead">
                                        <u>
                                            Number Of Owners
                                        </u>
                                    </h5>
                                </div>
                                <div class="col-5 text-end">
                                    <button class="add-owner-field btn btn-sm text-nowrap btn-success mt-4">Add Owners</button>
                                </div>
                                <div class="col-md-12 my-2">
                                    <div class="owner-input-field">
                                        <label for="" class="form-label">Fill the Information of Number of Owners you have</label>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 my-2">
                                                <label for="" class="form-label">Name of Owner:</label>

                                                <input type="text" class="form-control" />
                                            </div>

                                            <div class="col-lg-2 col-md-6 my-2">
                                                <label for="" class="form-label">Owner % :</label>

                                                <input type="text" class="form-control" />
                                            </div>

                                            <div class="col-lg-6 col-md-12 my-2">
                                                <label for="" class="form-label">Full Address of Owner:</label>

                                                <input type="text" class="form-control" />
                                            </div>

                                            <div class="col-lg-6 col-md-12 my-2">
                                                <label for="" class="form-label">Telegraphic Address of Owner:</label>

                                                <input type="text" class="form-control" />
                                            </div>

                                            <div class="col-lg-3 col-md-6 my-2">
                                                <label for="" class="form-label">Owner Telephone Number:</label>

                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-7">
                                    <h5 class="mt-4 mb-2 form-Subhead">
                                        <u>
                                            Manager
                                        </u>
                                    </h5>
                                </div>
                                <div class="col-5 text-end">
                                    <button class="add-hotelManager-field btn btn-sm text-nowrap btn-success mt-4">Add Manager</button>
                                </div>
                                <div class="col-md-12 my-2">
                                    <div class="hotelManager-input-field">
                                        <label for="" class="form-label">Fill the Information of Number of Owners you have</label>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 my-2">
                                                <label for="" class="form-label">Name of Manager:</label>

                                                <input type="text" class="form-control" />
                                            </div>

                                            <div class="col-lg-2 col-md-6 my-2 text-nowrap">
                                                <label for="" class="form-label">Manager % :</label>

                                                <input type="text" class="form-control" />
                                            </div>

                                            <div class="col-lg-6 col-md-12 my-2">
                                                <label for="" class="form-label">Manager Adress:</label>

                                                <input type="text" class="form-control" />
                                            </div>

                                            <div class="col-lg-3 col-md-12 my-2">
                                                <label for="" class="form-label">Manager Telephone Number:</label>

                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <h5 class="mt-4 mb-2">
                                    <u>
                                        Area
                                    </u>
                                </h5>
                                <div class="col-4 my-2">
                                    <label for="" class="form-label">Total Area:</label>

                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-4 my-2">
                                    <label for="" class="form-label">Area of Kitchen:</label>

                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-4 my-2">
                                    <label for="" class="form-label">Area of Pantry:</label>

                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-4 my-2">
                                    <label for="" class="form-label">Area of Dining Hall:</label>

                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-4 my-2">
                                    <label for="" class="form-label">Seating Capacity of Dining Hall:</label>

                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <h5 class="mt-4 mb-2">
                                    <u>
                            Costs
                        </u>
                                </h5>
                                <div class="col-3 my-2">
                                    <label for="" class="form-label">Cost of Furniture & Fixtures:</label>

                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-3 my-2">
                                    <label for="" class="form-label">Cost of Equipment:</label>

                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-3 my-2">
                                    <label for="" class="form-label">Annual Rent:</label>

                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-3 my-2">
                                    <label for="" class="form-label">Working Capital:</label>

                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-3 my-2">
                                    <label for="" class="form-label">Total Investment:</label>

                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <h5 class="mt-4 mb-2">
                                    <u>
                            Furniture & Fixtures
                        </u>
                                </h5>
                                <div class="col-md-12 mb-2">
                                    <span>(Please give details separately for the Dining hall and the Kitchen)</span>
                                </div>
                                <div class="col-4 my-2">
                                    <label for="" class="form-label">Number Of Floors:</label>

                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-4 my-2">
                                    <label for="" class="form-label">Number Of Rooms on Each Floor:</label>

                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-4 my-2">
                                    <label for="" class="form-label">Nature Of Room:</label>
                                    <select class="form-select" aria-label="Default select example">
                            <option selected>PLease Select</option>
                            <option value="1">Single Bed Room</option>
                            <option value="2">Double Bed Room</option>
                            <option value="3">Suite Room</option>
                        </select>
                                </div>
                            </div>

                            <div class="row">
                                <h5 class="mt-4 mb-2">
                                    <u>
                            Facilities Available on the Premises
                        </u>
                                </h5>
                                <div class="col-12 my-2">
                                    <div class="form-group">
                                        <input class="form-check-input" type="checkbox" value="" id="reception">
                                        <label class="form-check-label" for="reception"> Reception </label>
                                    </div>
                                </div>
                                <div class="col-12 my-2">
                                    <div class="form-group">
                                        <input class="form-check-input" type="checkbox" value="" id="billCounter">
                                        <label class="form-check-label" for="billCounter"> Bill Counter </label>
                                    </div>
                                </div>
                                <div class="col-12 my-2">
                                    <div class="form-group">
                                        <input class="form-check-input" type="checkbox" value="" id="telephone">
                                        <label class="form-check-label" for="telephone"> Telephone </label>
                                    </div>
                                </div>
                                <div class="col-12 my-2">
                                    <div class="form-group">
                                        <input class="form-check-input" type="checkbox" value="" id="air-conditionging-cooling">
                                        <label class="form-check-label" for="air-conditionging-cooling"> Air-Conditionging cooling
                                according to local condtions and weather </label>
                                    </div>
                                </div>
                                <div class="col-12 my-2">
                                    <div class="form-group">
                                        <input class="form-check-input" type="checkbox" value="" id="air-conditionging-heat">
                                        <label class="form-check-label" for="air-conditionging-heat"> Heating according to local
                                condtions and weather </label>
                                    </div>
                                </div>
                                <div class="col-12 my-2">
                                    <div class="form-group">
                                        <input class="form-check-input" type="checkbox" value="" id="cloakRoom">
                                        <label class="form-check-label" for="cloakRoom"> Cloak Room </label>
                                    </div>
                                </div>
                                <div class="col-12 my-2">
                                    <div class="form-group">
                                        <input class="form-check-input" type="checkbox" value="" id="toilet">
                                        <label class="form-check-label" for="toilet"> Toilet </label>
                                    </div>
                                </div>
                                <div class="col-12 my-2">
                                    <div class="form-group">
                                        <div class="carParking">
                                            <input class="form-check-input" type="checkbox" value="" id="isChecked">
                                            <label class="form-check-label" for="isChecked"> Car Park </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row" id="other-divChk" style="display: none">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="" class="form-label">Car Parking Capacity</label>
                                                <input type="text" class="form-control required">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 my-2">
                                    <div class="form-group">
                                        <input class="form-check-input" type="checkbox" value="" id="entertainment">
                                        <label class="form-check-label" for="entertainment"> Entertaiment </label>
                                    </div>
                                </div>
                                <div class="col-4 my-2">
                                    <label for="" class="form-label">Type of Cuisine offered:</label>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-4 my-2">
                                    <label for="" class="form-label">Total Investment:</label>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-4 my-2">
                                    <label for="" class="form-label">:</label>
                                    <input type="text" class="form-control" />
                                </div>

                            </div>
                            <div class=" row ">
                                <div class="col-7">
                                    <h5 class="mt-4 mb-2 form-Subhead">
                                        <u>
                                Furniture and Fixtures For Daining Hall
                            </u>
                                    </h5>
                                </div>
                                <div class="col-5 text-end">
                                    <button class="add-diningHall-field btn btn-success btn-sm mt-4 text-nowrap">Add</button>
                                </div>
                                <div class="col-md-12 diningHall-input-field">
                                    <div class="input-field">
                                        <label for="" class="form-label">Fill the Information of Furniture and Fixtures For Daining
                                Hall</label>
                                        <div class="row">
                                            <div class="col-12 my-2">
                                                <label class="form-label">Furniture Type</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=" row ">
                                <div class="col-7">
                                    <h5 class="mt-4 mb-2 form-Subhead">
                                        <u>
                                Furniture and Fixtures for Kitchen
                            </u>
                                    </h5>
                                </div>
                                <div class="col-5 text-end">
                                    <button class="add-kitchen-field btn btn-success btn-sm mt-4 text-nowrap">Add</button>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="kitchen-input-field">
                                        <label for="" class="form-label">Fill the Information of Furniture and Fixtures for
                                Kitchen</label>
                                        <div class="row">
                                            <div class="col-12 my-2">
                                                <label class="form-label">Furniture Type</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=" row">
                                <h5 class="mt-4 mb-2">
                                    <u>
                            Manager Information
                        </u>
                                </h5>
                                <div class="col-md-12 ">
                                    <div class="input-field">
                                        <label for="" class="form-label">Fill the information of Managers</label>
                                        <div class="row">
                                            <div class="col-4 my-2">
                                                <label class="form-label">Total Number</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">Professionally Trained</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">Not Professionally Trained but Experianced</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">Apprentices</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">English Knowing</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" row">
                                <h5 class="mt-4 mb-2">
                                    <u>
                            Receptioln Information
                        </u>
                                </h5>
                                <div class="col-md-12 ">
                                    <div class="input-field">
                                        <label for="" class="form-label">Fill the information of Managers</label>
                                        <div class="row">
                                            <div class="col-4 my-2">
                                                <label class="form-label">Total Number</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">Professionally Trained</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">Not Professionally Trained but Experianced</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">Apprentices</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">English Knowing</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" row">
                                <h5 class="mt-4 mb-2">
                                    <u>
                            Billing Information
                        </u>
                                </h5>
                                <div class="col-md-12 ">
                                    <div class="input-field">
                                        <label for="" class="form-label">Fill the information of Managers</label>
                                        <div class="row">
                                            <div class="col-4 my-2">
                                                <label class="form-label">Total Number</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">Professionally Trained</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">Not Professionally Trained but Experianced</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">Apprentices</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">English Knowing</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" row">
                                <h5 class="mt-4 mb-2">
                                    <u>
                            Cooks Information
                        </u>
                                </h5>
                                <div class="col-md-12 ">
                                    <div class="input-field">
                                        <label for="" class="form-label">Fill the information of Managers</label>
                                        <div class="row">
                                            <div class="col-4 my-2">
                                                <label class="form-label">Total Number</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">Professionally Trained</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">Not Professionally Trained but Experianced</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">Apprentices</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">English Knowing</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" row">
                                <h5 class="mt-4 mb-2">
                                    <u>
                            Bearers Information
                        </u>
                                </h5>
                                <div class="col-md-12 ">
                                    <div class="input-field">
                                        <label for="" class="form-label">Fill the information of Managers</label>
                                        <div class="row">
                                            <div class="col-4 my-2">
                                                <label class="form-label">Total Number</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">Professionally Trained</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">Not Professionally Trained but Experianced</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">Apprentices</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">English Knowing</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" row">
                                <h5 class="mt-4 mb-2">
                                    <u>
                            Other Information
                        </u>
                                </h5>
                                <div class="col-md-12 ">
                                    <div class="input-field">
                                        <label for="" class="form-label">Fill the information of Managers</label>
                                        <div class="row">
                                            <div class="col-4 my-2">
                                                <label class="form-label">Total Number</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">Professionally Trained</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">Not Professionally Trained but Experianced</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">Apprentices</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-4 my-2">
                                                <label class="form-label">English Knowing</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            <div class=" row">
                                <h5 class="mt-4 mb-2">
                                    <u>
                            Rates Charged
                        </u>
                                </h5>
                                <div class="col-md-12 ">
                                    <div class="input-field">
                                        <div class="row">
                                            <div class="col-12 my-2">
                                                <label for="" class="form-label">Rates Charged :</label>
                                                <select class="form-select" aria-label="Default select example">
                                        <option selected>PLease Select Rates Charged</option>
                                        <option value="1">Immediately before the 1st January, 2011 </option>
                                        <option value="2">Present(With date from which prescribed)</option>
                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 my-2 pt-4 text-end">
                                    <button class="btn btn-success btn-lg">Submit</button>
                                    <button class="btn btn-danger btn-lg">Reset</button>
                                </div>
                            </div>

                        </fieldset>  -->
                    </form>
                </div>
            </div>
        </section>
        <!-- Main Content End -->

     

        <!-- Main Wrapper End -->
    </div>
    <script src="{% static 'script/script.js' %}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script src="{% static 'script/addFile.js' %}"></script>
   

    <script>
        $('#isChecked').click(function() {
            $("#other-divChk").toggle(this.checked);
        });
    </script>

{% endblock content  %}