{% extends 'main.html' %}


{% load static %}

{% block content %}

<style>
    .container{
        height: 500px;
        text-align: center;
        padding: 100px;
    }
</style>

<div class="container">

<h1>hello to test htmx</h1>

<form hx-post="/store">
    <input id="title" name="title" type="text" 
        hx-post="/validate" 
        hx-trigger="change"
    >
    <button type="submit">Submit</button>
    <input type="text" name="q"
    hx-get="/trigger_delay"
    hx-trigger="keyup delay:500ms changed"
    hx-target="#search-results"
    placeholder="Search..."
>
<div id="search-results"></div>
</form>



</div>








{% endblock content %}