{% extends 'main.html' %}

{% load widget_tweaks %}

{% load static %}

{% block content %}

     <!-- Main Content Start -->
     <section class="main-content gallery-section">
        <!-- Start Hero Section -->
        <div class="other-hero hero z-index-2">
            <div class="container">
                <div class="row justify-content-center main-heading  space-top-xl-4">
                    <div class=" text-center">
                        <h1 class="sub-head">Tourist Guide Registertaion</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Tourist Guide Registertaion</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Hero Section -->
        <div class="container space-y">
            <!-- <div class="row row-cols-1 g-4"> -->
            <div class="row touristGuide-content">
              <form class="form" action="" method="POST" >
                    {% csrf_token %}
                    <!-- {{form.as_p}}
                <input type="submit" name="submit">  -->
                    <fieldset> 
                        <legend>Travel Guide Registertaion</legend>
                        <div class="col-12 my-4">
                            <label for="" class="form-label" class="form-label">Name Of The Person</label>
                            
                            {% render_field form.guide_name type="text" class="form-control" %}
                        </div>
                        <div class="form-row row">
                            <div class="col-12">
                                <h5 class="mt-4 mb-2 form-Subhead">
                                    <u>
                                        Business Details
                                    </u>
                                </h5>
                            </div>
                            <div class="col-md-8  my-2">
                                <label for="" class="form-label">Business Address</label>
                                
                                {% render_field form.business_address type="text" class="form-control" %}
                                <small>(if Registered, give registered
                                    address). </small>
                            </div>
                            
                            <div class="col-md-4 my-2">
                                <label for="" class="form-label">Residential Address </label>
                                 {% render_field form.residential_address type="text" class="form-control" %}
                            </div>
                        </div>

                        <div class="form-row row">
                            <h5 class="mt-4 mb-2 form-Subhead">
                                <u>
                                    History of Business Details
                                </u>
                            </h5>
                            <div class=" col-md-4   my-2">
                                <label for="" class="form-label">Year of establisment</label>
                                {% render_field  form.year_of_establishment type="date" class="form-control" %}
                                
                            </div>
                            <div class="col-md-4  my-2">
                                <label for="" class="form-label">Telephone Number</label>                         
                                {% render_field form.telephone_number type="number" class="form-control" %}
                            </div>
                            <div class="col-md-4  my-2">
                                <label for="" class="form-label">Telephone Number (Resedential)</label>
                                {% render_field form.residential_number type="number" class="form-control" %}
                            </div>
                            <div class="col-md-12 my-2">
                                <label for="" class="form-label">Telegraphic/Telex/Cable Address.</label>
                                {% render_field form.telegraphic_address type="number" class="form-control" %}
                            </div>

                        </div>

                        <div class="form-row row">
                         
                            <div class="col-lg-4 col-md-6 my-2">
                                <label for="" class="form-label">Educational Qualifications</label> 
                                {% render_field form.educational_qualifications type="text" class="form-control" %}
                            </div>
                            <div class="col-lg-4 col-md-6 my-2">
                                <label for=""  class="form-label">Year of Experience as Tourist Guide</label>
                                {% render_field form.year_of_experiance type="number" class="form-control" %}
                            </div>
                            <div class="col-lg-4 col-md-6 my-2">
                                <label for="" class="form-label">Number of Foreign Languages</label>     
                                {% render_field form.number_of_languages type="number" class="form-control" %}
                            </div>

                            <div class="col-md-12  my-2">
                                <label for="" class="form-label">Training, if any,</label>
                                <br>

                               
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#trainingModel">
                                    Yes
                                </button>
                                <button type="button" class="btn btn-danger">
                                    No
                                </button>
                            </div>

                            <div class="form-row row">
                                <h5 class="mt-4 mb-2 form-Subhead">
                                    <u>
                                  Banker Details
                                </u>
                                </h5>
                                <div class="col-md-6 my-2">
                                    <label for="" class="form-label">Name of The Banker</label>
                                    <input type="text" class="form-control" id="" value="">
                                </div>
                                <div class="col-md-6 my-2">
                                    <label for="" class="form-label">Attach reference letter from the bank</label>
                                    <input class="form-control" type="file" id="" multiple />
                                </div>

                            </div>

                            <div class="form-row row ">
                                <div class="col-lg-7">
                                    <h5 class="mt-4 mb-2 form-Subhead">
                                        <u>
                                        Number Of Aduitors
                                    </u>
                                    </h5>
                                </div>
                                <div class="col-lg-5 text-end">
                                    <button class="add-auditor-field btn btn-success btn-sm mt-4 text-nowrap">Add Auditors</button>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="auditor-input-field">
                                        <label for="" class="form-label">Fill the information of Number of Auditors you have</label>
                                        <div class="row">
                                            <div class="col-md-6 my-2">
                                                <label class="form-label">Name</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                            <div class="col-md-6 my-2">
                                                <label class="form-label">Address</label>
                                                <input type="text" class="form-control" name="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row row ">
                                <div class="col-lg-7">
                                    <h5 class="mt-4 mb-2 form-Subhead">
                                        <u>
                                        Number Of Staff
                                    </u>
                                    </h5>
                                </div>
                                <div class="col-lg-5 text-end">
                                    <button class="add-staff-field btn btn-success btn-sm mt-4 text-nowrap">Add Staff</button>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="staff-input-field">
                                        <label for="" class="form-label">Fill the information of Number of Staff you have</label>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6 my-2">
                                                <label for="" class="form-label">Staff Category</label>
                                                <input type="text" class="form-control" id="" value="">
                                            </div>
                                            <div class="col-lg-3 col-md-6 my-2">
                                                <label for="" class="form-label">Purpose</label>
                                                <input class="form-control" type="text" id="" multiple />
                                            </div>
                                            <div class="col-lg-3 col-md-6 my-2">
                                                <label for="" class="form-label">Qualification</label>
                                                <input class="form-control" type="text" id="" multiple />
                                            </div>
                                            <div class="col-lg-3 col-md-6 my-2">
                                                <label for="" class="form-label">Experience</label>
                                                <input class="form-control" type="text" id="" multiple />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row row">
                                <h5 class="mt-4 mb-2 form-Subhead">
                                    <u>
                                  Capital Invested
                                </u>
                                </h5>
                                <div class="col-md-6 my-2">
                                    <label for="" class="form-label">Capital Invested</label>
                                    <input type="text" class="form-control" id="" value="">
                                </div>
                                <div class="col-md-6 my-2">
                                    <label for="" class="form-label">Capital Investment Statment</label>
                                    <input class="form-control" type="file" id="" multiple />
                                </div>

                            </div>
                            <div class="form-row row">
                                <h5 class="mt-4 mb-2 form-Subhead">
                                    <u>
                                       Extra
                                </u>
                                </h5>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 my-2">
                                            <div class="form-group">
                                                <div class="otherActivities">
                                                    <input class="form-check-input" type="checkbox" value="" id="otherActivities">
                                                    <label class="form-check-label" for="otherActivities"> Whether any other activities are proposed to be
                                                        undertaken? If so, in what fields?</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row" id="otherActivities-detail" style="display: none">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="" class="form-label">Other Activities :</label>
                                                        <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 mb-4">
                                    <div class="row">
                                        <div class="col-12 my-2">
                                            <div class="form-group">
                                                <div class="partner-offense">
                                                    <input class="form-check-input" type="checkbox" value="" id="partner-offense">
                                                    <label class="form-check-label" for="partner-offense">  Please state if you or your partner, if anyone have been
                                                        convicted of an offence, if so please give details.</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row" id="partner-offense-detail" style="display: none">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="" class="form-label">Offence Detail:</label>
                                                        <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row my-3">
                                <div class="col-12 my--3">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck3">
                                            <label class="form-check-label " for="invalidCheck3">
                                            I/we hereby solemnly declare that all the particulars give above are correct
                                            </label>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 my-3">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck1">
                                            <label class="form-check-label " for="invalidCheck1">
                                            I/we hereby solemnly declare that if a licence is granted to me/us, I/We will abide by the Travel Agencies Act, 1976 and the Rules made their under the terms of the licence granted to me/us, and the code of conduct.
                                        </label>
                                            <small class="text-danger">
                                            You must agree before submitting.
                                        </small>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 my-4 pt-4 text-end">
                                <input type="submit" name="submit" class="btn btn-success btn-lg">
                                <button class="btn btn-danger btn-lg">Reset</button>
                            </div>

                    </fieldset>
                </form>
                </div>
            </div>
    </section>


     <!-- Modal -->
     <div class="modal" id="trainingModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Training Details</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 my-2">
                            <label for="" class="form-label">Training Institute Name</label>
                            <input type="text" class="form-control " id="" value="">
                        </div>
                        <div class="col-md-6 my-2">
                            <label for="" class="form-label">Start Date</label>
                            <input type="date" class="form-control " id="" value="">
                        </div>
                        <div class="col-md-6 my-2">
                            <label for="" class="form-label">End Date</label>
                            <input type="date" class="form-control " id="" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content End -->


    <script>
        document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
            const dropZoneElement = inputElement.closest(".drop-zone");

            dropZoneElement.addEventListener("click", (e) => {
                inputElement.click();
            });

            inputElement.addEventListener("change", (e) => {
                if (inputElement.files.length) {
                    updateThumbnail(dropZoneElement, inputElement.files[0]);
                }
            });

            dropZoneElement.addEventListener("dragover", (e) => {
                e.preventDefault();
                dropZoneElement.classList.add("drop-zone--over");
            });

            ["dragleave", "dragend"].forEach((type) => {
                dropZoneElement.addEventListener(type, (e) => {
                    dropZoneElement.classList.remove("drop-zone--over");
                });
            });

            dropZoneElement.addEventListener("drop", (e) => {
                e.preventDefault();

                if (e.dataTransfer.files.length) {
                    inputElement.files = e.dataTransfer.files;
                    updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
                }

                dropZoneElement.classList.remove("drop-zone--over");
            });
        });

        /**
         * Attachment file
         *
         * @param {HTMLElement} dropZoneElement
         * @param {File} file
         */
        function updateThumbnail(dropZoneElement, file) {
            let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

            // First time - remove the prompt
            if (dropZoneElement.querySelector(".drop-zone__prompt")) {
                dropZoneElement.querySelector(".drop-zone__prompt").remove();
            }

            // First time - there is no thumbnail element, so lets create it
            if (!thumbnailElement) {
                thumbnailElement = document.createElement("div");
                thumbnailElement.classList.add("drop-zone__thumb");
                dropZoneElement.appendChild(thumbnailElement);
            }

            thumbnailElement.dataset.label = file.name;

            // Show thumbnail for image files
            if (file.type.startsWith("image/")) {
                const reader = new FileReader();

                reader.readAsDataURL(file);
                reader.onload = () => {
                    thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
                };
            } else {
                thumbnailElement.style.backgroundImage = null;
            }
        }
    </script>

{% endblock content %}